*{
    font-family: 'Lucida Sans';
}

.custom-font-ubuntu {
    font-family: 'Ubuntu', sans-serif!important;
}

#banner{
    background: url('./main.jpg') black;
    background-size: cover;
    /* background-attachment: scroll; */

}



.bg-c{
    background-size: cover;
}


@media only screen and (orientation:portrait) {
    
    #banner{
        background: url('./main.jpg') black;
        background-size: fill;
        /* background-attachment: scroll; */
    }
}